# 时间序列

In [1]:

import os
import numpy as np
import pandas as pd

%matplotlib inline

In [2]:
# 贾俊平<<统计学(第六版)>> 时间序列节例题数据

db = '/home/lidong/Datasets/'
data_df = pd.read_excel(os.path.join(db, "Statistics/beer-gdp-coal-cpi.xls"))
data_df[0:3]

     年份  啤酒产量\n（万千升）  人均GDP\n（元）  煤炭占能源消费\n总量的比重(%)  居民消费价格指数（上年=100）
0  2000       2231.3      7857.7               69.2             100.4
1  2001       2288.9      8621.7               68.3             100.7
2  2002       2402.7      9398.1               68.0              99.2

## 暴力列重命名

In [23]:
data_df.columns = ['Yt', 'Beer', 'GDP', 'Coal', 'CPI']
data_df[:3] # data_df['Yt'][0:3] or data_df.Yt[0:3]

     Yt    Beer     GDP  Coal    CPI
0  2000  2231.3  7857.7  69.2  100.4
1  2001  2288.9  8621.7  68.3  100.7
2  2002  2402.7  9398.1  68.0   99.2

## 修改年份列的值

In [25]:
data_df['Yt'] = data_df['Yt'].map(lambda x: x - 2000)
data_df[:3]

   Yt    Beer     GDP  Coal    CPI
0   0  2231.3  7857.7  69.2  100.4
1   1  2288.9  8621.7  68.3  100.7
2   2  2402.7  9398.1  68.0   99.2

## 做图